@function rem($value) {
    @return ($value / 16) * 1rem;
  }

@font-face {
	font-family: space-grotesk;
	src: url(../../assets/SpaceGrotesk.ttf)
}

@font-face {
	font-family: futura;
	src: url(../../assets/FuturaStdBook.ttf)
}

@font-face {
	font-family: futura-thin;
	src: url(../../assets/FuturaThin.ttf)
}

$space-blue: #668a93;

@mixin underlineAfter {
    content: '';
    position: absolute;
    width: 97.5%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

@mixin underlineHover {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@mixin mediumText {
    font-size: calc(10px + 1vw);
}

#intro-wrapper {
    margin-top: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: futura-thin;
    #intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        #intro-h1 {
            font-size: calc(30px + 4.5vw);
            letter-spacing: 2vw;
        }
        #intro-p {
            margin-top: 0.2vw;
            font-size: calc(10px + 1.2vw);
            letter-spacing: 8px;
        }
        #intro-button-container {
            margin-top: 20vh;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            font-size: calc(10px + 1vw);
            letter-spacing: 4px;
            #intro-button-work {
                display: inline-block;
                position: relative;
                margin-left: calc(40px + 6vw);
                padding-bottom: 5px;
                &:hover:after {
                    @include underlineHover;
                }
                &:after {
                    @include underlineAfter;
                }
            }
            #intro-button-about {
                display: inline-block;
                position: relative;
                &:hover:after {
                    @include underlineHover;
                }
                &:after {
                    @include underlineAfter;
                }
            }
            
        }
    }
}

#about-wrapper {
    margin-top: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: futura-thin;
    #about-container {
        #about-title {
            font-size: calc(15px + 1.2vw);
            letter-spacing: 3px;
            border-bottom: solid black;
            padding-left: 8px;
            padding-right: 8px;
            width: fit-content;
        }
        #about-p {
            display: flex;
            flex-direction: column;
            @include mediumText;
            width: 65vw;
            max-width: 700px;
            gap: 1vh;
            line-height: 34px;
        }
        #about-tools {
            @include mediumText;
            text-align: center;
        }
        #about-tools-container {
            margin-top: 5vh;
            display: flex;
            flex-flow: row nowrap;
            column-gap: 7vw;
            justify-content: center;
        }
        .about-tech-container {
            display: flex;
            // justify-content: center;
            flex-flow: column nowrap;
            .about-tech-title {
                
            }
            .about-tech-content {
                margin-top: 4px;
                height: 10vh;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
            }
        }
    }
}