@mixin underlineAfter {
    content: '';
    position: absolute;
    width: 97.5%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

@mixin underlineHover {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#card-wrapper {
    width: 100%;
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    #card-title {
        margin-bottom: 10px;
    }
    .card-container {
        margin-bottom: 15px;
        &:hover .card-hidden {
            max-height: 5000px;
            transition: all 0.4s ease-in-out;
            margin-bottom: 20px;
        }
        .card-title {
            position: relative;
            display: inline-block;
            text-align: center;
            width: max-content;
            &:hover:after {
                @include underlineHover;
            }
            &:after {
                @include underlineAfter;
            }
        }
        .card-hidden {
            overflow: hidden;
            max-height: 0;
            padding-top: 10px;
            .card-description {
            }
            .card-link {
            }
        }
    }
}
