@font-face {
  font-family: space-grotesk;
  src: url(../../assets/SpaceGrotesk.ttf);
}

@font-face {
  font-family: futura;
  src: url(../../assets/FuturaStdBook.ttf);
}

@font-face {
  font-family: futura-thin;
  src: url(../../assets/FuturaThin.ttf);
}

#intro-wrapper {
  margin-top: 35vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: futura-thin;
}

#intro-wrapper #intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#intro-wrapper #intro-container #intro-h1 {
  font-size: calc(30px + 4.5vw);
  letter-spacing: 2vw;
}

#intro-wrapper #intro-container #intro-p {
  margin-top: 0.2vw;
  font-size: calc(10px + 1.2vw);
  letter-spacing: 8px;
}

#intro-wrapper #intro-container #intro-button-container {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 1vw);
  letter-spacing: 4px;
}

#intro-wrapper #intro-container #intro-button-container #intro-button-work {
  display: inline-block;
  position: relative;
  margin-left: calc(40px + 6vw);
  padding-bottom: 5px;
}

#intro-wrapper #intro-container #intro-button-container #intro-button-work:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#intro-wrapper #intro-container #intro-button-container #intro-button-work:after {
  content: '';
  position: absolute;
  width: 97.5%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#intro-wrapper #intro-container #intro-button-container #intro-button-about {
  display: inline-block;
  position: relative;
}

#intro-wrapper #intro-container #intro-button-container #intro-button-about:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#intro-wrapper #intro-container #intro-button-container #intro-button-about:after {
  content: '';
  position: absolute;
  width: 97.5%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#about-wrapper {
  margin-top: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: futura-thin;
}

#about-wrapper #about-container #about-tools {
  font-size: calc(10px + 1vw);
  text-align: center;
}

#about-wrapper #about-container #about-tools-container {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-column-gap: 7vw;
          column-gap: 7vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-wrapper #about-container .about-tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#about-wrapper #about-container .about-tech-container .about-tech-content {
  margin-top: 4px;
  height: 10vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=home.css.map */